#app {
  margin: 0 auto;
  padding: 10px 20px 10px 20px;
  text-align: center;
  width: 95%;
  height: 90%;
  margin-left: 1%;
  position: absolute;
  background-color: #dcdde0;
}

.control {
  height: 40px;
  display: grid;
  grid-template-columns: 1fr 110px 1fr;
}

.cardbox-title {
  font-size: 24px;
  width: 110px;
}

.open-btn-control {
  float: right;
  margin-right: 24px;
  margin-top: 4px;
  height: 32px;
}

.close-btn {
  float: right;
  margin-top: 4px;
  height: 32px;
}

.open-btn {
  font-size: 24px;
}

.open-btn-label {
  font-size: 24px;
  margin-top: 9px;
  margin-left: 5px;
}

.tile {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.box {
  cursor: pointer;
  border-radius: 0px 0px 3px 3px;
  margin: 10px;
  width: 120px;
  height: 90px;
  box-shadow: 1px 2px 0 0px #d0d0d0;
  background-color: #ffffff;
  border-top: 5px solid #90c0ff;
}

.box:hover {
  background-color: #f0f0f0;
}

.box-title {
  font-weight: bold;
  font-size: 14px;
  height: 60px;
  overflow: hidden;
  border-bottom: 1px solid #90c0ff;
}

.box-date {
  font-size: 10px;
}